/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import 'login.scss';
@import 'common.scss';
@import 'myFonts.scss';
@import 'navbar.scss';
@import 'layouts.scss';
@import 'dashboard.scss';
@import 'loader.scss';
@import '~ngx-toastr/toastr';

html body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}
